.profile-container {
  background-color: var(--profile-background-color);
  height: var(--profile-height);
  width: var(--profile-width);
}

.body-container {
  display: flex;
  flex-direction: column;
  height: var(--body-height);
  width: var(--body-width);
}
