.friends-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--freinds-height);
  width: var(--freinds-width);
  border-top: 1px solid #0000002d;
  font-size: var(--content-text-size);
  font-family: var(--main-font);
  font-weight: var(--regular-text-weight);
}

#friends-title {
  font-size: var(--large-text-size);
  font-weight: var(--bold-text-weight);
}

.friends-list-container {
  display: flex;
  flex-direction: row;
}

.friend-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.friend-picture {
  height: 30px;
  border: 1px solid #bbbbbb;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 0 #8f8f8f;
  margin-bottom: 5px;
}
