/* app css reset */
body,
div,
p {
  margin: 0;
  padding: 0;
}

/* app-variables */
:root {
  /* background colors */
  --profile-background-color: #f2f2f2;
  --bio-background-color: #ffffff;

  /* font */
  --main-font: Roboto, sans-serif;

  /* font colors */
  --header-text-primary-color: #ffffff;
  --header-text-secondary-color: #ffffffdc;
  --bio-text-primary-color: #000000;
  --bio-text-secondary-color: #00000075;

  /* font sizes */
  --large-text-size: 1.13em;
  --content-text-size: 0.9em;

  /* font weights */
  --regular-text-weight: 400;
  --bold-text-weight: 700;

  /* profile dimensions */
  --profile-height: 100%;
  --profile-width: 100%;

  /* header dimensions */
  --header-height: 32%;
  --header-width: 100%;

  /* bio dimensions */
  --bio-height: 51%;
  --bio-width: 74%;

  /* friends dimensions */
  --freinds-height: 16%;
  --friends-width: 100%;
}
