/* app css reset */
body,
div,
p {
  margin: 0;
  padding: 0;
}

/* app-variables */
:root {
  /* background colors */
  --profile-background-color: #f2f2f2;
  --bio-background-color: #ffffff;

  /* font */
  --main-font: Roboto, sans-serif;

  /* font colors */
  --header-text-primary-color: #ffffff;
  --bio-text-primary-color: #000000;
  --bio-text-secondary-color: #000000b2;

  /* font sizes */
  --large-text-size: 1.13em;
  --content-text-size: 0.9em;

  /* font weights */
  --regular-text-weight: 400;
  --bold-text-weight: 700;

  /* profile dimensions */
  --profile-height: 100%;
  --profile-width: 100%;

  /* body dimensions */
  --body-height: 68%;
  --body-width: 100%;

  /* header dimensions */
  --header-height: 32%;
  --header-width: 100%;

  /* bio dimensions */
  --bio-height: 75%;
  --bio-width: 100%;

  /* friends dimensions */
  --freinds-height: 25%;
  --friends-width: 100%;
}

/* media query for tablets and larger devices */
@media screen and (min-width: 768px) {
  :root {
    /* font sizes */
    --large-text-size: 1.2em;
    --content-text-size: 1em;

    /* bio dimensions */
    --bio-height: 70%;

    /* friends dimensions */
    --freinds-height: 30%;
  }
}
